.activityChart {
  width: 100%;
  height: 100%;
}

.activityChart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activityChart__title {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: #20253a;
}

.activityChart__legend {
  display: flex;
  align-items: center;
  gap: 32px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  color: #74798c;
}

.activityChart__legendItem {
  display: flex;
  align-items: center;
  gap: 10px;
}

.activityChart__dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: inline-block;
}

.activityChart__dot--black {
  background: #282d30;
}

.activityChart__dot--red {
  background: #e60000;
}

.activityChart__container {
  width: 100%;
  height: calc(100% - 40px);
  min-height: 180px; // assure une hauteur minimale pour ResponsiveContainer
  margin-top: 16px;
}

.activityChart__tooltip {
  background: #e60000;
  color: #fff;
  padding: 8px 10px;
  font-size: 10px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  p {
    margin: 0;
  }
}

.recharts-cartesian-axis-tick-value {
  fill: #9b9eac;
  font-size: 14px;
}

.recharts-cartesian-grid-horizontal line {
  stroke: #dedede;
}
