.keydata {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 39px;
}

.keydata__card {
  width: 258px;
  height: 124px;
  display: flex;
  align-items: center;
  background: #fbfbfb;
  padding: 24px;
  border-radius: 8px;
}

.keydata__icon {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 16px;


}

.keydata__value {
  font-weight: 700;
  font-size: 20px;
  margin: 0;
}

.keydata__label {
  margin: 4px 0 0;
  color: #74798c;
  font-size: 14px;
  font-weight: 500;
}
