@use "../../styles/variables.scss" as *;

.header {
  width: 100%;
  height: 80px;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-family: $font-main;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 60px;

  img {
    height: 60px;
    width: auto;
    display: block;
  }
}

.nav {
  flex: 1;                   
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    font-family: "Roboto", sans-serif;
    font-size: 24px;     
    font-weight: 500;    
    color: $white;
    text-decoration: none;
  }
}
