@use "../../styles/variables.scss" as *;

.header {
  width: 100%;
  height: 80px;
  background: $black;
  color: $white;
  display: flex;
  align-items: center;
  padding: 0 30px;
  font-family: $font-main;

  .logo {
    font-weight: bold;
    margin-right: 50px;
    color: $primary;
  }

  .nav {
    a {
      color: $white;
      margin-right: 30px;
      text-decoration: none;
    }
  }
}
