@use "../../styles/variables.scss" as *;

.layout {
  display: flex;
  min-height: calc(100vh - 80px); // 80px = header
}

.content {
  flex: 1;
  background: $white; 
  padding: 40px 60px; 
}

.content__container {
  max-width: 1120px; 
  margin: 0 auto;    
}
