.profile {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.profile__charts {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 30px;
}

.profile__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
